# Node
node_modules/
dist/
.vite/

# Environment
.env
.env.local
.env.*

# Logs
logs/
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Java
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# IntelliJ
*.iml

# Coverage
coverage/

# Build
build/
out/